*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /* font-family: "Raleway", sans-serif; */

    /* background-color: whitesmoke; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-image: url(bg3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    

   
}
/* navigation style */
nav
{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.navi
{
    
   height: 80px;
   width: 100%;
   /* border: 1px solid black; */
  padding: 22px;
  /* color: #006fbe; */
      background-color: rgb(255 150 0);

  box-shadow: 2px 0px 20px 3px #dcdcdc83;
   

}
.navi h2
{
    color: #24325d;
    margin-left: 126px;
    display: inline;
    margin-right: 370px;
    font-family: "Poppins", sans-serif;

}
.navi ul
{
    display: inline;
    /* border: 2px solid red; */
}
.navi ul li 
{
    display: inline;
}
.navi ul li a
{
    display: inline;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #24325d;
    
    
   

    
}



/* {

}
{
    text-decoration: none;
    margin-left: 20px;
} */
.navi ul li a:hover
{
    color: #006fbe;
}
/* login page start */
.s1
{
    margin-top: 80px;
    height: 700px;
    width: 100%;
    /* border: 5px solid rgb(230, 12, 12); */
    display: flex;
    justify-content: center;
    align-items: start;
}
.d1
{
    margin: 70px;
    height: 65%;
    width: 41%;
    /* border: 1px solid white; */
    background-color:rgba(245, 245, 245, 0.575);
    font-size: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 40px;
    /* align-items: center; */


}
h1
{
    margin: 30px 10px;
}
.i1
{
    height: 60px;
    width: 65%;
    border: none;
    outline: none;
    background-color: rgba(245, 245, 245, 0.01);
    font-size: 18px;
    color: white;
    border-bottom: 1px solid black;
    


}
.e1
{
    margin-left: 55px;
}
.d1 .a1
{
    margin-left: 50%;
    font-size: 20px;
}
.d1 .b1
{
    height: 50px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: orange;
    color: black;
    font-size: 18px;
    border-radius: 10px;
}
.d1 .b1:hover
{
    background-color: rgba(255, 166, 0, 0.918);

}
.d1 .p1
{
    font-size: 20px;
}
::placeholder
{
    color: white;
}
.d1 .a2
{
    text-decoration: none;
}

/* end login page */
