*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html,body
{
    width: 100%;
    background-color: white(128, 128, 128, 0.267);
    background-color: rgba(255, 228, 196, 0.815);

}
.d1
{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgba(255, 228, 196, 0.815);
    flex-direction: row;
    display: flex;

    
    


}
section
{
     height: 300px; 
     width: 300px;
    margin: 20px;
    
    /* margin: 50px auto; */
    position: relative;
     /* border: 2px solid red;    */
     display: flex;
     overflow: ;
}
section img
{
    width: 100%;
    height: 100%;
     /* border: 2px solid greenyellow;  */
    /* transform: translate(0px,40px); */
    
}
.child
{
     /* border: 2px solid black;  */
   
    height: 100%;
    width: 0%;
    background: rgba(136, 132, 132, 0.767);
    display: flex;
    flex-direction: column;
    
    position: absolute;
    
    left: 0%;
    bottom: 0%;
     transition: width,1s; 
     visibility: hidden;
    
}
.child i
{
    /* visibility: hidden; */
    margin-left: 20px;
    margin-top: 35px;

}

section:hover .child
{
    visibility: visible;
    width:25%;
    

}
section:hover .child2
{
    height: 100%;
    visibility: visible;
}
.child2
{
     /* border: 2px solid black;  */
   
    height: 0%;
    width: 75%;
    margin-left: 25%;
    background: rgba(211, 209, 209, 0.658);
    /* display: flex; */
    /* justify-content: space-between; */
    position: absolute;
    bottom: 0%;
    transition: height,1s;
    visibility: hidden; 
   text-align: center;
   color: white;
    
}
.child2 h2
{
    margin-left: 50px;
    margin-top: 210px;
    font-size: 20px;
    display: flex;
}
.child2 p
{
    margin-top: 5px;

}
.heading
{
    text-align: center;
    padding: 10px;
    margin: 10px;

}
.heading hr
{
    border: 1px solid red;
    margin-left: 47%;
    margin-right: 47%;


} 
.heading h2
{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 25px;
    color: #c2b7b1;

    
}
.heading h1
{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4e4039;
}