*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    background-color: gainsboro;
}
.parent
{
    width: 100%;
    height: 1000px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  
    
    
}
/* .parent .banner
{
    display: flex;
    
} */
.banner
{
    height: 300px;
    width: 350px;
    background-color: red;
    margin:10px;
    border-radius: 10px;
    position: relative; 
   
    overflow: hidden;
    display: flex;
   

}
.banner img
{
    width: 100%; 
    height: 100%;
    border-radius: 10px;
    
}
 .shadow
 {
    /* display:flex; */
    height: 100%;
    width: 0%;
    position: absolute;
    right:0%;
    transition: width,1s;
     padding-top: 40%; 
    text-align: center; 
    color: white;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
 }
 .shadow i
 {
    padding-top: 15px;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    background-color: white;
    border-radius: 100%;
    
    font-size: 10px;
    
    color: rgba(255, 136, 0, 0.712);
 }
.shadow h3
 {
    
    margin-top: 30px;
    margin-bottom: 10px
} 
.shadow p
{
    font-size: 13px;
}

 .banner:hover .shadow
 {
    width: 100%;
    background-color: rgba(95, 92, 92, 0.623);


 }
