*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body
{
    width: 100%;
}
p,div
{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 10px;
    display: inline-block;
}
a,label
{
    background-color: gold;
    /* height: 100; NO  applay becuz this is inline element
    width: 100; */
    display: block;/* that time u use height and width */
    height: 100px;
    width: auto;
    margin:  20px 0px;
}
.G
{
     display: NONE; 
   
}
.H
{
    visibility: hidden;
}