*
{padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;    

}
.d1
{
    text-align: center;
   margin-left: 20px;
   margin-right: 20px;
    padding: 30PX;
    height: 150px;
    width: 100%;
    /* border: 5px solid red;     */
}
.d1 p
{
    margin-top: 30PX;
    font-size: 18px;
    padding: 1px 20px 1px 20px;
}
.d1 h1{
    display: inline;
    border-bottom: 3PX SOLID rgba(0, 0, 255, 0.473);
    
    
}
.s1
{
    height: 400px;
    
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}
.s1 .i1
{
    height: 400px;
    width: 30%;
    /* border: 4px solid red; */
}
.i1 img
{
    height:100%;
    width: 100%;

}
.s1 .dt
{
    height: 400px;
    width: 70%;
    /* border: 5px solid red; */

}
.ulp
{
    margin: 30px;
    display:flex;
    flex-direction: row;
    
    
    
}
.ul
{
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    width: 361px;
    /* border: 2px solid black; */
    justify-content: center;
    
}
.ul ul li
{
    padding: 7px;
    font-size: 20px;
    list-style-type: none;
}
.dth1
{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: hsla(240, 100%, 50%, 0.507);
    
}
.dtp
{
    font-size: 20px;
    text-align: center;
    font-style: italic!important;
    padding: 10px 30px;
}
.p1
{
    margin-left: 25px;
}